<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logfile" value=""/>
    <add key="dbprovider" value="System.Data.SqlClient"/>
    <add key="connstr" value=""/>
    <add key="sql" value="select * from table"/>
    <add key="serverurl" value="http://localhost:9200"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="indexname" value=""/>
    <add key="typename" value=""/>
    <add key="timestampfield" value=""/>
    <add key="idprefix" value=""/>
    <add key="idfield" value=""/>
    <add key="toupperfields" value=""/>
    <add key="tolowerfields" value=""/>
    <add key="addconstantfield" value=""/>
    <add key="escapefields" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
