<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBUtil.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBDatabases" serializeAs="String">
                <value/>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputpathData" serializeAs="String">
                <value>C:\Dump_dir</value>
            </setting>
            <setting name="OutputpathScripts" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcludeColumns" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcludeTables" serializeAs="String">
                <value>dtproperties
sysdiagrams
swattachmentchunks</value>
            </setting>
            <setting name="DBServers" serializeAs="String">
                <value>(local)
.\SQLEXPRESS
.\SQLSERVER</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ImportTableName" serializeAs="String">
                <value/>
            </setting>
        </DBUtil.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
